{% extends 'layout.html'%}

{% block content %}

{% include 'admin/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include '_messages.html'%}
            {% if brands %}
            <h1 class="text-center h1 text-white bg-dark bg-gradient"
                style=" text-shadow: 2px 3px 3px black;font-family:Verdana; height: 55px; border-radius: 3px; box-shadow: 0px 0px 8px rgb(102, 102, 102); margin-top: 5px; width: 400px;">
                Add a brand.</h1>
            <form action="" method="POST">
                <input type="text" name="brand" id="form-control"
                    style=" margin-left: 5% ; height: 37px;  margin-top: 20px;">
                <input type="submit" name="Add brand" value='Insert' id="btn btn-info mt-2" class="btn btn-outline-success"
                    style="margin-bottom: 0px;">
                <a href="{{url_for('brands')}}" class="btn btn-outline-danger" style="margin-bottom: 0px;">Cancel</a>

            </form>

            {% else %}
            <h1 class="text-center h1 text-white bg-dark bg-gradient"
                style=" text-shadow: 2px 3px 3px black;font-family:Verdana; height: 55px; border-radius: 5px; margin-top: 5px; width: 400px; box-shadow: 0px 0px 8px rgb(102, 102, 102);">
                Add a category</h1>
            <form action="" method="POST">
                <input type="text" name="category" id="form-control"
                    style=" margin-left: 5% ;height: 37px; margin-top: 20px;">
                <input type="submit" name="Add category" value='Insert' id=" btn btn-info mt-2" class="btn btn-outline-success"
                    style="margin-bottom: 0px;">
                <a href="{{url_for('categories')}}" class="btn btn-outline-danger"
                    style="margin-bottom: 0px; ">Cancel</a>

            </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}