{% extends 'layout.html'%}

{% block content %}


{% include 'navbar.html' %}
{% include '_messages.html'%}
<script>

    function getMaxBrand() {

        var max_brand = 0;
        {% for brand in brands %}

        max_brand = Math.max(max_brand, {{ brand.id | int }})
    {% endfor %}


    return max_brand;
    }

    function getMaxCategory() {

        var max_category = 0;
        {% for category in categories %}

        max_category = Math.max(max_category, {{ category.id | int }})
    {% endfor %}

    return max_category;
    }



    async function addProductWorkFlow(product_id, price, stock, discount, is_nft) {
        const contract_abi = {{ contract_info['abi'] | tojson
    }}
    const contract_address = "{{contract_info['address']}}";

    var formData = new FormData()

    formData.append("id", product_id)
    formData.append("blob", first_image_blob)


    if (is_nft == true)
        await $.ajax({
            //split(";")[0].split(":")[1]
            url: "/temporary/",
            type: "POST",
            data: formData,
            contentType: false,
            cache: true,
            processData: false,
        });


    console.log("Before get contarct")
    walletWrapper.setupContract(contract_abi, contract_address)
    console.log("after get contract")
    const account = await walletWrapper.retrieveAccountInfo()


    var imageHash = ""




    await walletWrapper.addProduct(
        product_id,
        price,
        stock,
        discount,
        is_nft,
        first_image_blob.split("base64,")[1],
        {
            from: account
            //gas: 6721975
        })

    //$("#image_hash").val(CryptoJS.MD5(first_image_blob.split("base64,")[1]).toString())

    return account;
    }


    function addProduct() {

        const product_id = "{{ product_id | string}}";

        const max_brand = getMaxBrand();
        const max_category = getMaxCategory();

        try {

            const price = parseFloat($("#price").val())
            const stock = parseInt($("#stock").val())

            const discount = parseInt($("#discount").val())
            const category = parseInt($("#category").val())
            const brand = parseInt($("#brand").val())
            const is_nft = $("#is_nft").is(":checked")

            console.log("is_nft: ", is_nft, typeof is_nft)

            if ($("#name").val() === "" || $("#name").val() == null)
                throw new Error("Invalid name")

            if (isNaN(price) || price < 0)
                throw new Error("Invalid price")

            if (isNaN(discount) || discount > 100 || discount < 0)
                throw new Error("Invalid discount")

            if (isNaN(stock) || stock < 0)
                throw new Error("Invalid stock")

            if (is_nft == true && stock > 1)
                throw new Error("NFT must be one and only")

            if (isNaN(brand) || brand < 0 || brand > max_brand)
                throw new Error("Invalid brand")

            if (isNaN(category) || category < 0 || category > max_category)
                throw new Error("Invalid category")

            if ($("#description").val() === "" || $("#description").val() == null)
                throw new Error("Invalid description")

            if ($("#image_1").val() === "" || $("#image_1").val() == null)
                throw new Error("Invalid image_1")

            if (stock != 0 || confirm("NFT has stock 0. It will be created however it's not for sale.\nContinue?"))
                addProductWorkFlow(product_id, price, stock, discount, is_nft)
                    .then(account => {
                        $("#addproductsubmit").submit()
                        console.log("saitama approved")
                    })
                    .catch(error => {
                        message = getMetamaskError(error.message)

                        $("#flashbox").attr("class", "alert alert-danger")
                        $("#flashbox").text(message)
                        window.scrollTo(0, 0)

                    })
        }
        catch (err) {
            console.log(err)

            //alert("Some inputs are not valid")
            $("#flashbox").attr("class", "alert alert-danger")
            $("#flashbox").text(err)
            window.scrollTo(0, 0)
        }
    }


    var first_image_blob = ""

</script>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-center h1 text-white bg-dark bg-gradient"
                style="text-shadow: 2px 3px 3px black;
        font-family:Verdana; height: 55px;  margin-top: 5px; border-radius: 3px; box-shadow: 0px 0px 8px rgb(102, 102, 102);">Add a product</h2>
            {% from "_formhelpers.html" import render_field %}
            <form id="addproductsubmit" name="addproductsubmit" action="" method="POST" enctype="multipart/form-data">

                {{ render_field(form.name, class='form-control', placeholder='Add product name') }}
                {{ render_field(form.price, class='form-control', placeholder='Add product price') }}
                {{ render_field(form.discount, class='form-control', placeholder='Add product discount') }}
                {{ render_field(form.stock, class='form-control', placeholder='Add product stock') }}
                <label for="brand">Add a brand</label>
                <select name="brand" id="brand" class="form-control" required>
                    <option value="">Select a brand</option>
                    {% for brand in brands %}
                    <option value="{{brand.id}}">{{brand.name}}</option>
                    {% endfor %}
                </select>

                <label for="category">Add a category</label>
                <select name="category" id="category" class="form-control" required>
                    <option value="">Add a category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
                <label for="is_nft">NFT</label>
                <div class="form-control form-check">
                    <input id="is_nft" name="is_nft" type="checkbox">
                    <label for="is_nft">Enable</label>
                </div>
                {{ render_field(form.description, class='form-control', placeholder='Add product description',
                rows='10') }}

                <div class="container">
                    <div class="row">
                        <div class="col-auto .mr-auto">{{ render_field(form.image_1, class='form-control',
                            required=True)}}</div>

                        <script>
                            document.getElementById("image_1").addEventListener("change", event => {
                                const file = event.target.files[0]
                                reader = new FileReader()
                                reader.addEventListener("load", eventLoad => {


                                    first_image_blob = eventLoad.target.result//.split("base64,")[1]


                                })

                                try {
                                    reader.readAsDataURL(file)
                                }
                                catch (error) {
                                    first_image_blob = ""
                                }


                            }) 
                        </script>
                        <div class="col-auto .mr-auto">{{ render_field(form.image_2, class='form-control',
                            required=False)}}</div>
                        <div class="col-auto .mr-auto">{{ render_field(form.image_3, class='form-control',
                            required=False)}}</div>
                    </div>
                </div>
                <input type="hidden" name="product_id" id="product_id" value="{{product_id}}">
                <input type="hidden" name="image_hash" id="image_hash" value="">
                <button type="button" class="btn btn-outline-success"
                    style="margin-left: 15px;box-shadow: 0px 0px 8px rgb(102, 102, 102); "
                    onclick="addProduct(first_image_blob)">Add
                    product</button>

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% include 'footer.html' %}

    {% endblock content %}