{% extends 'layout.html' %}

{% block content %}

{% include 'navbar.html' %}
{% include '_messages.html' %}
<script>

    async function checkApproval() {
        current_status = $("#conditionTerms").is(':checked')

        if (current_status != term_status) {
            await conditionTerms(current_status)
            term_status = current_status
        }
    }

    async function initalCheck() {
        console.log(document.readyState)
        if (document.readyState === 'complete') {
            console.log("here")
            term_status = await getApproved()
            $("#conditionTerms").prop('checked', term_status);
            console.log("PREVIOUS STATUS: ", term_status)
            $("#conditionTerms").on("click", checkApproval)
        }
    }

    document.onreadystatechange = initalCheck;
    var term_status = null

    const contract_abi = {{ contract_info['abi'] | tojson}};
    const contract_address = "{{contract_info['address']}}";

    const token_nft_abi = {{ token_nft_info['abi'] | tojson}};
    const token_nft_address = "{{token_nft_info['address']}}";

</script>
<div class="container">
    {% from "_formhelpers.html" import render_field %}

    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <table class="table table-sm table-condensed table-striped table-hover">
            <thead>
            </thead>
            <tbody>

                <tr>
                    <td>
                        {% set filename = "" %}
                        {% if user_data.profile %}
                        {% set filename = user_data.profile.replace("\\","/") %}
                        {% endif %}

                        <img id="profile_image" style=" float:center;
                        text-shadow: 0px 1px 2px rgb(110, 110, 110);"
                            src="{{url_for('static', filename='images/' + filename)}}">
                        {{ render_field(form.profile, id="newImage", class='form-control', required=False)}}
                        <script>
                            document.getElementById("newImage").addEventListener("change", event => {
                                const file = event.target.files[0]
                                reader = new FileReader()
                                reader.addEventListener("load", eventLoad => {
                                    document.querySelector("#profile_image").src = eventLoad.target.result
                                })

                                try {
                                    reader.readAsDataURL(file)
                                }
                                catch (error) {
                                    global_blob = ""
                                }

                            })
                        </script>

                    </td>
                </tr>
                <tr>
                    <td>{{ render_field(form.name, class='form-control', value=user_data.name) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.username, class='form-control', value=user_data.username) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.email, class='form-control', value=user_data.email) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.currentpassword, class='form-control', value="") }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.password , class='form-control', value="") }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.confirm, class='form-control', value="") }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.country, class='form-control', value=user_data.country) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.city, class='form-control', value=user_data.city) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.contact, class='form-control', value=user_data.contact) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.address, class='form-control', value=user_data.address) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.zipcode, class='form-control', value=user_data.zipcode) }}</td>
                </tr>
                <tr>
                    <td>{{ render_field(form.conditionTerms, class='form-control', value='') }}</td>
                </tr>
                <tr>
                    <td>{{ form.submit(class="btn btn-success", style="float:left;" ) }}
                        <a href="{{url_for('profile')}}" class="btn btn-danger btn-sm"
                            style="margin-left: 0%; float:right; box-shadow: 0px 3px 3px rgb(107, 107, 107);">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% include 'footer.html' %}

{% endblock content %}