{% extends "layout.html" %}

{% block content %}
{% include 'admin/navbar.html' %}
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include '_messages.html'%}

            <div class="text-center h1 text-white bg-dark bg-gradient"
                style="text-shadow: 2px 3px 3px black; font-family: Verdana; height: 55px; border-radius: 5px; margin-top: 5px; box-shadow: 0px 3px 3px rgb(152, 152, 152);">
                Login</div>
            <form method='post' enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div>

                    {{ render_field(form.email, class='form-control') }}
                    {{ render_field(form.password, class='form-control') }}

                </div>
                <p><input type=submit value='Login' class="btn btn-dark"
                        style="width:100%; box-shadow: 0px 3px 3px rgb(152, 152, 152); font-family:Verdana;"></p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    {% endblock content %}