{% extends "layout.html" %}

{% block content %}
{% include 'admin/navbar.html' %}
<div class="container">
    {% include '_messages.html'%}
    {% from "_formhelpers.html" import render_field %}
    <div class="text-center h1 text-white bg-dark bg-gradient" style="text-shadow: 2px 3px 3px black;font-family:Verdana; height: 55px; border-radius: 
    5px; margin-top: 5px; box-shadow: 0px 0px 8px rgb(102, 102, 102); ">Register</div>
    <form method='post' enctype="multipart/form-data">
        <div>

            {{render_field(form.name, class='form-control', required=True)}}
            {{render_field(form.username, class='form-control', required=True)}}
            {{render_field(form.email, class='form-control', required=True)}}
            {{render_field(form.password, class='form-control', required=True)}}
            {{render_field(form.confirm, class='form-control', required=True)}}
            {{ render_field(form.profile, class='form-control', required=False)}}

            <!--<input type="file" name="photo">-->
        </div>
        <p><input type=submit value='Register' class="btn btn-success"
                style="margin-top: 10px; box-shadow: 0px 0px 8px rgb(102, 102, 102); "></p>
    </form>
</div>
{% include 'footer.html' %}
{% endblock content %}